scripts/*.py text eol=lf
src/**/*.py text eol=lf
tests/*.py text eol=lf
config/*.yml text eol=lf
requirements.txt text eol=lf
.gitignore text eol=lf
.gitattributes text eol=lf
README.md text eol=lf
outputs/report_notes/*.md text eol=lf
outputs/tables/*.csv text eol=lf
